/* styles.css */
#content ul.wcc-committee-details {
    list-style-type: none;
}

ul.wcc-committee-details .wcc-committee-label {
    font-weight: bold;
}   

.wcc-committee-img {
    margin-left: 40px;
}
#form-widgets-committee_churchmember div {
    display: inline;
}

